@import url('https://fonts.googleapis.com/css2?family=Karla&family=La+Belle+Aurore&family=Playfair+Display:ital@1&display=swap');

/* //////// MOBILE */





/* //////// END MOBILE */

body {
    background-color: rgb(255, 242, 222);
    color: rgb(60, 59, 59);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header>img {
    position: relative;
    width: 100%;
    margin-top: -55px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1 ;
}

a:link, a:visited {
    text-decoration: none;
    text-align: center;
    color: rgb(60, 59, 59);
}

h1 {
    font-size: 1.8rem;
    font-family: 'Playfair Display',serif;
    margin-bottom: -27px;
    padding-bottom: 0px;
}

.logo {
    position: relative;
    top: -20px;
    text-align: center;
    letter-spacing: .3rem;
    font-size: 3rem;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 21px;
    font-weight: 300;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
}

h2 {
    font-family: 'La Belle Aurore', cursive;
    margin-bottom: -20px;
    padding-bottom: 0px;
}

h2.logo{
    margin-top: 0%;
    padding-top: 0px;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 242, 222);
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#grid1 {
    width: 30%;
    flex: 1;
    background-color: rgba(70, 58, 19, 0.264);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#grid2 {
    width: 60%;
    flex: 3 2;
    padding-right: 20px;
    padding-left: 20px;
}

.grid {
    width: 100%;
    padding: 5px;
}

.roundPic {
    width: 85%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 10px;
}

#pearl {
    width: 25vw;
    float: left;
    margin-top: -20px;
    padding-right: 15px;
}

p::first-line {
    font-size: 2rem;
    font-family: 'La Belle Aurore', cursive;
    line-height: 2rem;
}

.line {
    width: 100%;
    margin: 10px;
    height: 1px;
    padding: 10px;
    border-bottom: 1px solid rgb(60, 59, 59);
}

#sidebar {
    position: relative;
    margin-left: 1px;
    width: 100%;
    padding: 0px;
    margin-left: -30px;
}

#sidebar>ul {
    flex-direction: column;
    width: 100px;
    list-style: none;
    padding: 0px;
    width: 100%;
}

#sidebar>ul>li {
    font-size: 1.8rem;
    font-family: 'Playfair Display',serif;
    background-color:  rgb(255, 242, 222);
    color: pink;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
}

#mobileNav {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    z-index: 999;
}

.mobileUl {
    border-top: 1px solid rgb(60, 59, 59);
    width: 100%;
    background-color: rgb(255, 242, 222);
    display: flex;
    justify-content: center;
    padding: 0px;
}

.mobileli, footer {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    list-style-type: none;
}



.shadow {
    box-shadow: 0px 0px 50px rgb(60, 59, 59);
}

#ulIcons {
    visibility: hidden;
    z-index: -1;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid black;;
}

iframe {
    width: 100%;
    height: 500px;
}

img {
    max-width: 100%;
}

#book>img {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.book {
    margin-top: -20px;
    padding-bottom: 10px;
}

#bookMobile {
    visibility: hidden;
}

#bookMobile>img {
    max-width: 250px;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible !important;
    margin-top: 40px;
}

#moreBut {
    text-align: right;
    margin-right: 100px;
    padding: 0px;
    margin-top: -30px;
}

#moreBut:hover, #lessBut:hover {
    cursor: pointer;
}
#lessBut {
    text-align: right;
    margin-right: 100px;
    padding: 0px;
    margin-top: -30px;
}

#bookMobile {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

